<p id="notice"><%= notice %></p>

<div class="flex flex-col w-full max-w-screen-xl">
  <div class="flex items-center flex-none h-16">
    <div class="flex items-center flex-1 text-gray-700">
      <%= link_to page_monitors_path, class: 'hover:text-blue-700' do %>
        <svg class="inline-block w-8 h-8" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
      <% end %>
      <h1 class="inline-block text-2xl font-semibold">
        <%= @page_monitor.name %>
      </h1>
    </div>
    <div class="flex justify-end flex-none w-48">
      <%= link_to edit_page_monitor_path(@page_monitor), class: 'flex items-center justify-center w-full h-10 text-white bg-yellow-600 rounded-sm hover:bg-yellow-700' do %>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
        <div class="ml-2">Edit</div>
      <% end %>
    </div>
  </div>
  <div class="flex-1">
    <table class="w-full">
      <tr class="align-top">
        <th class="px-4 py-2 text-left whitespace-no-wrap">Source</th>
        <td class="w-full px-4 py-2">
          <%= link_to @page_monitor.url, class: 'flex items-center text-blue-800 hover:text-blue-900 hover:underline', target: '_blank' do %>
            <span><%= @page_monitor.url %></span>
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg>
          <% end %>
        </td>
      </tr>
      <tr class="align-top">
        <th class="px-4 py-2 text-left whitespace-no-wrap">Name</th>
        <td class="w-full px-4 py-2"><%= @page_monitor.name %></td>
      </tr>
      <tr class="align-top">
        <th class="px-4 py-2 text-left whitespace-no-wrap">Frequency</th>
        <td class="w-full px-4 py-2"><%= humanize_seconds(@page_monitor.frequency) %></td>
      </tr>
      <tr class="align-top">
        <th class="px-4 py-2 text-left whitespace-no-wrap">Status</th>
        <td class="w-full px-4 py-2">Enabled</td>
      </tr>
      <tr class="align-top">
        <th class="px-4 py-2 text-left whitespace-no-wrap">Last Check</th>
        <td class="w-full px-4 py-2"><%= time_ago_in_words(@page_monitor.last_checked_at) %></td>
      </tr>
      <tr class="align-top">
        <th class="px-4 py-2 text-left whitespace-no-wrap">Latest Content</th>
        <td class="w-full px-4 py-2"><%= simple_format(@page_monitor.content) %></td>
      </tr>
      <tr class="align-top">
        <th class="px-4 py-2 text-left whitespace-no-wrap">Previous Content</th>
        <td class="w-full px-4 py-2"><%= simple_format(@page_monitor.previous_content) %></td>
      </tr>
    </table>
  </div>
</div>
