<!DOCTYPE html>
<html>
  <head>
    <title>Observant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex items-center justify-center px-4 pt-6 md:px-6 md:pt-12">
      <%= yield %>
    </div>
  </body>
</html>
